@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-myriad-pro: var(--font-myriad-pro);
  --font-bitter: var(--font-bitter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* Primitive Tokens - First Layer */
:root {
  /* VE Blue Colors - Primitive Tokens */
  --ve-blue-50: oklch(0.962 0.042 231.898); /* #e0f6ffff */
  --ve-blue-100: oklch(0.927 0.062 231.903); /* #c7efffff */
  --ve-blue-200: oklch(0.878 0.09 231.9); /* #99daf3ff */
  --ve-blue-300: oklch(0.803 0.125 231.818); /* #66c8eeff */
  --ve-blue-400: oklch(0.724 0.162 231.709); /* #33b5e8ff */
  --ve-blue-500: oklch(0.672 0.182 231.61); /* #00a3e2ff */
  --ve-blue-600: oklch(0.63 0.171 231.448); /* #0092ccff */
  --ve-blue-700: oklch(0.585 0.156 231.335); /* #0080b3ff */
  --ve-blue-800: oklch(0.534 0.139 231.112); /* #006e99ff */
  --ve-blue-950: oklch(0.28 0.103 280.011); /* #2b2a47ff */

  /* VE Gray Colors - Primitive Tokens */
  --ve-gray-50: oklch(1 0 0); /* #ffffffff */
  --ve-gray-100: oklch(0.969 0.005 283.01); /* #f7f7f7ff */
  --ve-gray-200: oklch(0.938 0.01 280.12); /* #efefefff */
  --ve-gray-300: oklch(0.836 0.006 278.963); /* #cfceceff */
  --ve-gray-400: oklch(0.762 0.007 277.599); /* #afaeadff */
  --ve-gray-500: oklch(0.619 0.015 274.055); /* #5d5f61ff */
  --ve-gray-950: oklch(0.277 0.013 275.048); /* #2b2a29ff */

  /* Other Colors - Primitive Tokens */
  --ve-primary-purple: oklch(0.627 0.197 295.302); /* #6750a3ff */
  --ve-destructive-red: oklch(
    0.577 0.245 27.325
  ); /* keeping the destructive colors */
  --ve-destructive-red-light: oklch(
    0.704 0.191 22.216
  ); /* keeping the destructive colors */
}

/* Semantic Tokens - Second Layer */
:root {
  --radius: 0rem;
  --background: var(--ve-gray-50);
  --foreground: var(--ve-gray-950);
  --card: var(--ve-gray-50);
  --card-foreground: var(--ve-gray-950);
  --popover: var(--ve-gray-50);
  --popover-foreground: var(--ve-gray-950);
  --primary: var(--ve-blue-500);
  --primary-foreground: var(--ve-gray-50);
  /* Custom */
  --primary-hover: var(--ve-blue-600);
  --primary-active: var(--ve-blue-700);
  --secondary: var(--ve-gray-100);
  --secondary-foreground: var(--ve-gray-500);
  --muted: var(--ve-gray-100);
  --muted-foreground: var(--ve-gray-400);
  --accent: var(--ve-gray-100);
  --accent-foreground: var(--ve-gray-500);
  --destructive: var(--ve-destructive-red);
  --border: var(--ve-gray-200);
  --input: var(--ve-gray-200);
  --ring: var(--ve-blue-500);
  --chart-1: var(--ve-blue-500);
  --chart-2: var(--ve-blue-600);
  --chart-3: var(--ve-blue-700);
  --chart-4: var(--ve-blue-800);
  --chart-5: var(--ve-blue-950);
  --sidebar: var(--ve-gray-50);
  --sidebar-foreground: var(--ve-gray-950);
  --sidebar-primary: var(--ve-blue-500);
  --sidebar-primary-foreground: var(--ve-gray-50);
  --sidebar-accent: var(--ve-gray-100);
  --sidebar-accent-foreground: var(--ve-gray-500);
  --sidebar-border: var(--ve-gray-200);
  --sidebar-ring: var(--ve-blue-500);
}

.dark {
  --background: var(--ve-gray-950);
  --foreground: var(--ve-gray-50);
  --card: var(--ve-gray-500);
  --card-foreground: var(--ve-gray-50);
  --popover: var(--ve-gray-500);
  --popover-foreground: var(--ve-gray-50);
  --primary: var(--ve-blue-500);
  --primary-foreground: var(--ve-blue-50);
  --primary-hover: var(--ve-blue-400);
  --primary-active: var(--ve-blue-300);
  --secondary: var(--ve-gray-400);
  --secondary-foreground: var(--ve-gray-50);
  --muted: var(--ve-gray-400);
  --muted-foreground: var(--ve-gray-200);
  --accent: var(--ve-gray-400);
  --accent-foreground: var(--ve-gray-50);
  --destructive: var(--ve-destructive-red-light);
  --border: rgba(255, 255, 255, 0.1); /* keeping transparency */
  --input: rgba(255, 255, 255, 0.15); /* keeping transparency */
  --ring: var(--ve-blue-400);
  --chart-1: var(--ve-blue-400);
  --chart-2: var(--ve-blue-300);
  --chart-3: var(--ve-blue-200);
  --chart-4: var(--ve-blue-100);
  --chart-5: var(--ve-blue-50);
  --sidebar: var(--ve-gray-500);
  --sidebar-foreground: var(--ve-gray-50);
  --sidebar-primary: var(--ve-blue-500);
  --sidebar-primary-foreground: var(--ve-blue-50);
  --sidebar-accent: var(--ve-gray-400);
  --sidebar-accent-foreground: var(--ve-gray-50);
  --sidebar-border: rgba(255, 255, 255, 0.1); /* keeping transparency */
  --sidebar-ring: var(--ve-blue-400);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
